
@{
    ViewData["Title"] = "LearnMore";
}
    <div style="color:black;">
        <h1 style="color:black;">Additional Info</h1>
        <h2 style="color:black;">What we are…</h2>
        <br />
        <p style="color:black;">
            Bet bank is  your personal betting-client. We pride ourselves on providing all sports bettors from beginners - to the sharps, a platform to track their bets, keep an eye on their return on investment, and even tally your Win/Loss record across multiple sports leagues to provide you with all the tools needed to give you the best odds to win and bet safely!
        </p>
        <br />
        <br />
        <h2 style="color:black;">
            What is coming…
        </h2>
        <br />
        <p style="color:black;">
            Live event updates! A subscription based service! Adding more leagues including ESports, UFC, Baseball etc.
        </p>
        <br />
        <br />
        <h2 style="color:black;">
            How to use Bet Bank….
        </h2>
        <br />
        <p style="color:black;">
            Create and Account
            Input the amount of money you plan on using to bet.
            You should not be betting from your rent/mortgage stash! A Bet Bank is a pool of money dedicated to just sports betting. You want to be okay with losing from this pool. Here at Bet Bank we want to promote safe betting lifestyles and teach you how to turn your Bet Bank into an investment account making money off your love of sports.
            After creating an account, you simply match the bets you make through your bookies here and we will do the rest for ya! You can edit the odds or line amounts if needed. Take advantage of our Probability Predictor if you need help deciding the best line to take too!
            Once the event is complete your Bet Bank Balance, ROI, and W/L record all will update based-off the result of the event.
        </p>
        <br />
        <br />
        <h2 style="color:black;">
            What are these numbers? What do these words mean?!
        </h2>
        <br />
        <p style="color:black;">In Bet Bank the odds will be displayed labeled in a table or using the format…</p>
        <h3 style="color:black;">[ (Spread) : (Money Line) : (Total) ]</h3>
        <br />
        <br />
        <h2 style="color:black;">Spread Bets:</h2>
        <br />
        <p style="color:black;">
            A “Spread” bet is set as a condition for either team to meet in order to win your bet.
            A minus number - ex. (-10) means this team is the “Favorites” to win. They HAVE TO WIN and their condition is to not only win, but to WIN BY MORE THAN 10 POINTS.
            A positive number - ex. (+10) means this team is the “Underdog”. Their condition is they can lose, but CANNOT LOSE BY MORE than 10 points.
            If your team WINS or LOSES by the exact spread line(+/-), that is a tie. Close one. This means your team won or lost by 10 points.
        </p>
        <br />
        <br />
        <h2 style="color:black;">Money Line Bets:</h2>
        <br />
        <p style="color:black;">
            This is straight up no strings attached. Team One vs Team Two - pick who wins.     The money line is displayed as (+Underdogs) & (- Favorites).
            You will see a Money Line on all bet types because this tells you how much you will make on the bet. The line will never go below 100. Keep this in mind to not get confused with the Spread or Total.
            A Money Line will look similar to this:
            (+120) or (-120)
            Underdog(+120) means for every $100 you bet you get back $120 on the Underdog.
            Favorite(-120) means you need to bet $120 to make 100 on the Favorites.
        </p>
        <br />
        <br />
        <h2 style="color:black;">Total Bets:</h2>
        <br />
        <p style="color:black;">
            Total Bets:
            Betting on the total means you bet the combined score between BOTH teams will be OVER or UNDER the set number.
            Ex: OVER 50 Points / UNDER 50 points
            There will be a Money Line next to the OVER/UNDER figure to let you know what the payout will be. It usually will be -110 so you need $110 to make 100 on this bet. The Money Line for Totals  will never be less than 100.
            There are no ties here. The OVER or UNDER the set amount of points condition needs to be met.
        </p>
    </div>