
@{
    ViewData["Title"] = "GetSportEvents";
}

@model EventsRootobject
<h1>Get Sport Events</h1>

<div class="topnav" id="myTopnav">
    <a href="../Home/Index">Home</a>
    <a href="../Event/NFLIndex">NFL</a>
    <a href="../Event/NBAIndex">NBA</a>
    @*<a href="../Event/ESportsIndex">E-Sports</a>*@
</div>
<div class="tcontainer">
    <div class="ticker-wrap">
            <ul class="ticker-move">
                @foreach (Event item in Model.events)
                {
                    <li class="ticker-item">@item.sport_id | @item.event_date</li>
                    <li class="ticker-item">@item.teams</li>
                    <li class="ticker-item">@item.lines._1.spread</li>
                }
            </ul>
    </div>
</div>