
@{
    ViewData["Title"] = "Error";
}

<h1 style="color: red;">Error! Not enough cash to place bet! Please enter different amount.</h1>

<iframe  src="https://giphy.com/embed/yIxNOXEMpqkqA" width="480" height="356"  frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/mrw-month-middle-yIxNOXEMpqkqA" align="middle">via GIPHY</a></p>
                                                                                                                                           
                                      